body {
  width: 600px;
  margin: 0 auto;
  font-family: "Lucida Sans", sans-serif;
  color: #00376c;
}

a {
  color: #00376c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  color: #1577ff;
}
.services p,
footer p {
  font-style: italic;
}

h2 {
  border-bottom: 2px solid #7b7b7b;
  text-allign: center;
}

header {
  border-bottom: 6px solid #7b7b7b;
  line-height: 80px;
  text-align: center;
  background-color: #c7e3ff;
  margin-bottom: 40px;
}

footer {
  text-align: center;
  background-color: #c7e3ff;
  margin-bottom: 40px;
  padding: 10px;
}

.story,
.services,
.locations {
  padding: 10px;
  background-color: #e7e7e7;
  margin-bottom: 40px;
}

img {
  width: 150px;
}

nav li {
  display: inline;
}
